@import '~bootstrap/scss/bootstrap';


a {
    color: white
}

.jumbotron {
    background-image: url('/resources/img/batman_jumbotron.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}