@import '~bootstrap/scss/bootstrap';

img {
    max-width: 100%;
    max-height: 100%;
}

a{
    text-decoration: none;
}


.logo {
    height: 100px;
    width: 50px;
}

.jumbotron {
    background-image: url('/resources/img/batman_jumbotron.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.banner {
    height: 180px;
    background-color: #0282f9; 
}

.bannerIcon {
    height: 80px;
}

.content_home {
    height: 350px;
    .row {
        margin: 15% 0;
    }
}
