@import '~bootstrap/scss/bootstrap';

img {
    max-width: 100%;
    max-height: 100%;
}

a{
    text-decoration: none;
}

li {
    list-style: none;
}


.logo {
    height: 100px;
    width: 50px;
}

.jumbotron {
    background-image: url('/resources/img/batman_jumbotron.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.banner {
    height: 180px;
    background-color: #0282f9; 
}

.bannerIcon {
    height: 80px;
}

.content_home {
    height: 350px;
}

.show_section {
    background-image: url('https://cdn.shopify.com/s/files/1/0025/9384/9457/articles/dc-top-10-comics-indispensables-para-conocer-dc-wallpaper.jpg?v=1632781968&width=2048');
    background-size: cover;
    background-position: center;
    margin-top: -3rem;

}


